.formInput {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align: left;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: center;
  }
  
  .formInput input {
    padding: 12px;
     width: 320px;
    border: 1px solid #fa6e1170;
    outline: none;
  }
  
  .formInput label {
    font-size: 18px;
    color: black;
    margin-top: 8px;
    font-weight: 500;
    width: 10rem;
  }
  
  .formInput span {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
  }
 input:focus{
    border: 1px solid #f37e51;
  }
  
  .formInput input:invalid[focused="true"] {
    border: 1px solid red;
  }
  
  .formInput input:invalid[focused="true"] ~ span {
    display: block;
  }
  .have__account{
    display: flex;
    gap: 0.5rem;
    padding: 4px 
  }
  .have__account a{
    font-weight: 500;
    font-style: oblique;
    font-size: 1.1rem
  }
  .sun_btn{
    width: 120px;
    background: var(--color-button);
    border: 1px solid  #10BBB3 ;
    color: #10BBB3;
    border-radius: 5px;
    padding: 6px;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .sun_btn_matariel{
    width: auto;
    background: var(--color-button);
    color: #fff;
    border-radius: 5px;
    padding: 6px;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  
  @media screen and (max-width:1220px) {
    .formInput {
      display: flex;
      flex-direction: column;
      width: 180px;
      text-align: left;
    }

  }
  @media screen and (max-width: 1220px) {
    
    .formInput input{
      width: 380px;
    }
  }
  @media screen and (max-width : 820px){
    .formInput input {
      
       width: 320px;
     
    }
  }