
.formInput {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   
  }
  
  .formInput input {

  }
  
  .formInput label {
 
  }
  
  .formInput span {
    font-size: 10px;
    height:fit-content ;
    padding: 3px;
    color: red;
    display: none;
  }

  
  .formInput input:invalid[focused="true"] {
  
  }
  
  .formInput input:invalid[focused="true"] ~ span {
    display: block;
  }


